.india-glow {
  box-shadow: 0 0 40px #00ff00;
}

.england-glow {
  box-shadow: 0 0 40px #fc1b35;
}

.blue-glow {
  box-shadow: 0 0 40px #1d1dfa;
}

.afghanistan-glow {
  box-shadow: 0 0 40px #000000;
}

.sri-lanka-glow {
  box-shadow: 0 0 40px #FEBB27;
}

.west-indies-glow {
  box-shadow: 0 0 40px #ff0151;
}